@{
    string? toastMsg = TempData["toastMsg"] as string;
}
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="toast-block" data-bs-autohide="true" data-bs-animation="true" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @toastMsg
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@if(toastMsg != null)
{
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    var toastLiveExample = document.getElementById('toast-block');
    var toast = new bootstrap.Toast(toastLiveExample);
    toast.show();
</script>
}

