@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div class="container offset-md-0">
        <h2 class="display-2">Tables</h2>
        <div class="row mt-5">
            <div class="col">
                <a class="btn btn-secondary m-1 fs-4" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
            </div>
            <div class="col">
                <a class="btn btn-secondary m-1 fs-4" asp-area="" asp-controller="Positions" asp-action="Index">Positions</a>
            </div>
            <div class="col">
                <a class="btn btn-secondary m-1 fs-4" asp-area="" asp-controller="Workers" asp-action="Index">Workers</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a class="btn btn-secondary m-1 fs-4" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
            </div>
            <div class="col">
                <a class="btn btn-secondary m-1 fs-4" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
            </div>
        </div>
    </div>
</div>
